body{
    color: white;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: 50% 50%;
    background-color: black;
    margin:0px;

    .content {
        align-content: center;
        top: 200px;
        position:relative;
        text-align: center;
    }

    .logo{
        animation-name: BGscroll;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        z-index:-1;
    }

    @keyframes BGscroll {
        from {transform: rotate(0deg)}
        to {transform: rotate(360deg)}
    }

    .container{
        padding:25px;   
    }
    
    .title{
        text-align:center;
        align-content:center;
    }
    
    .footer{
        position:sticky;
        height:100px;
        width:100%;
        background-color:black;
        align-self:flex-end;
    }
}