body{
    color: white;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: 50% 50%;
    background-color: black;
    a.button {
        padding: 1px 6px;
        border: 1px outset buttonborder;
        border-radius: 3px;
        color: buttontext;
        background-color: buttonface;
        text-decoration: none;
    }
}
.content {
    width:75%;
    margin:auto;
    margin-top:30%;
    position:relative;
    text-align: center;
}

.logo{
    background-image: url("../images/background.png");
    animation-name: BGscroll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index:-1;
    background: red;
}
@keyframes BGscroll {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}