body{
    color: white;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: 50% 50%;
    background-color: black;
    a.button {
        padding: 1px 6px;
        border: 1px outset buttonborder;
        border-radius: 3px;
        color: buttontext;
        background-color: buttonface;
        text-decoration: none;
    }
    .content {
        align-content: center;
        height: 100%;
        position:relative;
        text-align: center;
    }

    .logo{
        animation-name: BGscroll;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        z-index:-1;
    }

    @keyframes BGscroll {
        from {transform: rotate(0deg)}
        to {transform: rotate(360deg)}
    }
    
}
